body {
  font-family: sans-serif;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
th {
  background-color: #ffb3b3;
  font-size: 20px;
}
td{
  text-align: center;
}
tr:nth-child(odd) {
  background: linear-gradient(to bottom, #ffcccc 0%, #ffffff 100%);
}
tr:nth-child(event) {
  background: linear-gradient(to top, #ffcccc 0%, #ffffff 100%);
}
